@import './libs/reset';
@import './libs/global';
@import './libs/variables';
@import './libs/mixins';

@import '../components/MainContainer/Main';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
